.gameWindow {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-2000px);
  }
}

.spaceBackground {
  animation: slide 6s infinite linear;
  position: absolute;
  z-index: -1;
  left: 0;
  filter: brightness(0.2);
}
