.barBackground {
  background-color: grey;
  margin: 5px;
  width: 100px;
  height: 20px;
}

.barForeground {
  display: block;
  background-color: yellow;
  height: 20px;
}

.ResourceBars {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
