.barBackground {
  background-color: rgba(0, 0, 0, 0);
  border-bottom: white thin solid;
  border-left: white thin solid;
  border-right: white thin solid;
  margin: 5px;
  width: 252px;
  height: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.barForeground {
  display: block;
  margin-left: 1px;
  margin-top: -1.7px;
  background-color: yellow;
  height: 20px;
  border-radius: 5px;
}

.ResourceDock {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ResourceBars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.progressResourceBar {
  position: absolute;
  bottom: 10px;
  width: 480px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.sanityResourceBar,
.foodResourceBar,
.energyResourceBar {
  display: flex;
  align-items: center;
}

.barIcon {
  width: 20px;
}

.progressResourceBar .barBackground {
  height: 5px;
  border-bottom: 2px white solid;
  border-left: thin white solid;
  border-right: thin white solid;
  background-color: rgba(0, 0, 0, 0);
  width: 500px;
}

.progressResourceBar .barIcon {
  display: none;
}

.progressResourceBar .barForeground {
  position: absolute;
  bottom: 10px;
  margin-left: 10px;
  height: 10px;
  background-color: rgba(0, 125, 250, 0.4);
}

.humansResourceKey {
  border-bottom: white thin solid;
  background-color: rgba(0, 125, 250, 1);
  width: 100px;
}

.humansResourceKey {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  color: white;
}

.humansResourceKey .resourceImage {
  width: 20px;
}

.deadCount {
  background-color: rgb(20, 20, 20);
  position: absolute;
  padding-left: 0.5em;
  gap: 0.5em;
  color: white;
  height: 25px;
  display: flex;
  width: 65px;
  margin-left: 13.5px;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.deadCount p {
  margin: 0;
}
