.room {
  border-radius: 5px;
  width: 250px;
  height: 180px;
}

.room:hover {
  box-shadow: 0 0 10px 0px yellow;
  transform: scale(1.02);
}

.selectedRoom {
  filter: brightness(15%);
  position: absolute;
  margin:auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  width: 900px;
  transition: all 0.5s ease; 
  box-shadow: 0 0 25px 2px green;
}

