.room {
  filter: brightness(92%);

  margin-left: 7px;
  margin-right: 7px;
  border-radius: 5px;
  width: 250px;
  height: 180px;
  transition: all 0.1s ease;
}

.room:hover {
  filter: brightness(108%);
  transform: scale(1.03);
}

.selectedRoom {
  z-index: 5;
  position: absolute;
  filter: brightness(15%);
  margin: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  width: 900px;
  height: 600px;
  transition: all 0.4s ease;
}

.hiddenPanel {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.settingsPanel {
  filter: brightness(120%);
  z-index: 6;
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  margin: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 500px;
  transition: opacity 0.03s ease-out 0.4s;
  padding: 5px;
}

.settingsClose {
  color: black;
  display: flex;
  background-color: rgb(250, 0, 0);
  margin-right: 15px;
  margin-left: auto;
  margin-top: 5px;
  border-radius: 5px;
}
.settingsClose:hover {
  color: white;
  background-color: rgb(199, 55, 55);
}

.staffCount {
  margin-top: 7px;
  width: 15px;
  filter: brightness(110%);
}

.room:hover .staffCount {
  margin-top: 7px;
  width: 18px;
  filter: brightness(290%);
}

.lowDanger {
  box-shadow: 0px -8px 15px -8px rgb(87, 192, 73);
}
.moderateDanger {
  box-shadow: 0px -8px 15px -8px rgb(230, 154, 42);
}
.highDanger {
  box-shadow: 0px -8px 15px -8px rgb(233, 32, 32);
}
